{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">




<div class="main">

  <div class="lander">
    <img src="{% static 'image/land.webp' %}" alt="">
  </div>
 
  <div class="cardrow">

    <div class="card">
      <section><img src="{% static 'image/indian1.jpeg' %}" alt=""></section>
      <h1>Veg Thali</h1>
    </div>

    <div class="card">
      <section><img src="{% static 'image/indian4.jpeg' %}" alt=""></section>
      <h1>Veg Thali</h1>
    </div>

    <div class="card">
      <section><img src="{% static 'image/indian5.jpeg' %}" alt=""></section>
      <h1>Veg Thali</h1>
    </div>

    <div class="card">
      <section><img src="{% static 'image/indian5.jpeg' %}" alt=""></section>
      <h1>Veg Thali</h1>
    </div>

    <div class="card">
      <section><img src="{% static 'image/indian5.jpeg' %}" alt=""></section>
      <h1>Veg Thali</h1>
    </div>

    <div class="card">
      <section><img src="{% static 'image/indian5.jpeg' %}" alt=""></section>
      <h1>Veg Thali</h1>
    </div>

    <div class="card">
      <section><img src="{% static 'image/indian5.jpeg' %}" alt=""></section>
      <h1>Veg Thali</h1>
    </div>

    <div class="card">
      <section><img src="{% static 'image/indian5.jpeg' %}" alt=""></section>
      <h1>Veg Thali</h1>
    </div>

    <div class="card">
      <section><img src="{% static 'image/indian5.jpeg' %}" alt=""></section>
      <h1>Veg Thali</h1>
    </div>

  
  </div>




</div>



<!--  -->
{%  endblock %}