{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
    .Details{
        margin-top: 100px;
    }
</style>
<link rel="stylesheet" href="{% static 'css/details.css' %}">

<div class="Details">

    <div class="Details">

        <h1 class="text-center">{{ post.title | safe }}</h1>
    <br>
        <div class="container" >

{#            <img src="{% static 'image/dosa.jpg' %}" alt="">#}

            <div>
                {{ post.content|safe }}
            </div>
            

        </div>

    </div>






</div>

{% endblock %}